
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(201, 212, 212);
    font-family: 'Quicksand',
    sans-serif;
    text-align: center;
    line-height: 2rem;
}

.title{
margin-top: 10rem;
font-size: 3rem;

}

.bar{
    width:13rem;
    background-color: #49a6e9;
    height: 0.3rem;
    margin: 1.2rem auto 0 auto;
 
}

.container{

  
    max-width: 50rem;
    margin: 4rem auto 0 auto;
    background-color: white;
    padding: 30px;
    box-shadow: 1px 1px 20px gray;
    transition: 0.5s all ease-in-out;
}
.container:hover{
    box-shadow:1px 1px 40px gray;
}

img{
width:10rem;
height:10rem;
border-radius: 40rem;
}

.quote-icon{
    color:white;
   position: absolute;
   left:43%;
   background: #49a6e9;
   border-radius: 50%;
   width: 50px;
   height: 50px;
}

section{
    font-size: 1.3rem;
    line-height: 2.2rem;
    color:gray;
}

.name{
    Letter-spacing: 0.3rem;
    font-weight: 600;
    color: black;
}
.Job{
color: #49a6e9;
transition: 0.3s all ease-in-out;

}
.Job:hover{
    color:#1a6aa2;
}

svg {
    
    height:3em;
    width: 1em;
      
   
}

.prev-btn{
    background-color: transparent;
    border: none;
    outline: none;
    color:#8bcbf9;
   
    height:3em;
    width: 1.3em;
    transition: 0.3s all ease-in-out;
}
.prev-btn2{

    background-color: transparent;
    border: none;
    outline: none;
       color:#8bcbf9;
       margin-left: 1rem;
        height:3em;
        width: 1.3em;
        transition: 0.3s all ease-in-out;

}
 .prev-btn:hover, .prev-btn2:hover{
     color:#1a6aa2;
 }

 .fnl-btn{
     border-color: transparent;
   background-color: #ebf7ff;
     outline: none;
     color: #1a6aa2;
     width: 6.7rem;
     height:2.3rem;
     border-radius: 0.3rem;
     transition: 0.4s all ease-in-out;
     letter-spacing: 0.1rem;
    
 }

 .fnl-btn:hover{
     background-color: #1a6aa2;
     color: white;
     
 }


@media all and (max-width: 650px){
.title, .name, .Job{
    font-size: 1.5rem;
}
    .container{
        width: 80vw;
        height: 20vwh;
        

    }

    img{
        width:5rem;
        height:5rem;
    }
    .quote-icon{
        left: 30%;
    }
    
}
 